<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>AudioTeca</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="container">
            <h2>Libros Disponibles</h2>            
            <div class="row row-cols-3" th:if="${libros != null and !libros.empty}">
                <div class="card" th:each="libro : ${libros}" >
                    <image th:src="${libro.imagen}" lass="card-img-top" alt="..."/>
                    <div class="card-body"> 
                        <h5 class="card-title">[[${libro.titulo}]]</h5>
                        <p class="card-text">[[${libro.descripcion}]]</p>
                        <a href="@{/libro/listado}" class="btn btn-primary">Ver Libros</a>                        
                    </div>
                </div>                
            </div>
            <div th:if="${libros == null or libros.empty}"  th:text="#{libro.no_mostrar}">
                No tenemos lista de libros que mostrar...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>


